# Ignore all files and folders inside the Report folder
Report/*

# Except the report.tex and report.pdf files
!Report/report.tex
!Report/report.pdf
!Report/documentation.pdf
!Report/documentation.tex